.container-deleted {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    background-color: #090808;
    opacity: 0.8;
    width: 700px;
    margin: 50px auto;
    padding: 25px;
}

.container-deleted h1 {
    color: #15cdfc;
    margin: 5px 15px 15px;
    letter-spacing: 2px;
}

.container-deleted p {
    color: #15cdfc;
    margin: 5px 15px 15px;
}

.container-deleted ul {
    color: white;
    list-style-type: none;
}

.container-deleted .error {
    color: red;
}

.deleted-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.result-deleted {
    list-style-type: none;
    border: 1px solid #a39f9e;
    border-radius: 15px;
    opacity: 0.9;
    background-color: #090808;
    padding: 20px;
    margin: 10px;
    text-align: center;
}


.title-deleted {
    font-size: 20px;
    color: #15cdfc;
}

.type-deleted {
    font-size: 18px;
    color: white;
}

.date-deleted {
    color: #15cdfc;
    font-size: 16px;
}

.synopsis-deleted {
    font-size: 17px;
    color: white;
}

.synopsis-deleted b {
    display: none;
}