.search-new {
    width: 300px;
    height: 30px;
    padding: 5px;
}

.searchNew {
    font-size: 21px;
    border-radius: 4px;
    background: #256ce1;
    padding: 10px 22px;
    margin: 15px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.searchNew:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}

.searchNew:disabled {
    background: grey;
    color: #fff;
}
