.container-country {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    background-color: #090808;
    opacity: 0.8;
    width: 700px;
    margin: 50px auto;
    padding: 25px;
}

.container-country h1 {
    color: #15cdfc;
    margin: 5px 15px 15px;
    letter-spacing: 2px;
}

.container-country p {
    color: #15cdfc;
    margin: 5px 15px 15px;
}

.container-country ul {
    color: white;
    list-style-type: none;
}

.container-country .error {
    color: red;
}

.search-country {
    width: 300px;
    height: 30px;
    padding: 5px;
    margin-right: 15px;
}

.country-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.result-country {
    list-style-type: none;
    border: 1px solid #a39f9e;
    border-radius: 15px;
    opacity: 0.9;
    background-color: #090808;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.result-country li {
    color: white;
}