.container-new {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    background-color: #090808;
    opacity: 0.9;
    width: 700px;
    margin: 50px auto;
    padding: 25px;
}

.container-new h1 {
    color: #15cdfc;
    margin: 5px 15px 15px;
    letter-spacing: 2px;
}

.container-new p {
    color: #15cdfc;
    margin: 5px 15px 15px;
}

.container-new ul {
    color: white;
    list-style-type: none;
}

.container-new .error {
    color: red;
}

.result-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.result-new {
    list-style-type: none;
    border: 1px solid #a39f9e;
    border-radius: 10px;
    opacity: 0.9;
    background-color: #090808;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.title {
    font-size: 20px;
    color: #15cdfc;
}

.type {
    font-size: 18px;
    color: white;
}

.date {
    color: #15cdfc;
    font-size: 16px;
}

.synopsis {
    font-size: 17px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .result-container {
        grid-template-columns: 350px 350px;
    }

    .container-new {
        max-width: 575px;
    }
}