body {
background-image: url("../../assets/Background.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.container-new {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    background-color: #090808;
    opacity: 0.9;
    width: 700px;
    margin: 50px auto;
    padding: 25px;
}

.container-new h1 {
    color: #15cdfc;
    margin: 5px 15px 15px;
    letter-spacing: 2px;
}

.container-new p {
    color: #15cdfc;
    margin: 5px 15px 15px;
}

.container-new ul {
    color: white;
    list-style-type: none;
}

.container-new .error {
    color: red;
}

.search-new {
    width: 300px;
    height: 30px;
    padding: 5px;
}

.searchNew {
    font-size: 21px;
    border-radius: 4px;
    background: #256ce1;
    padding: 10px 22px;
    margin: 15px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.searchNew:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}

.searchNew:disabled {
    background: grey;
    color: #fff;
}

.result-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.result-new {
    list-style-type: none;
    border: 1px solid rgba(173, 173, 173);
    border-radius: 15px;
    opacity: 0.9;
    background-color: #090808;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.result-new li {
    color: white;
}