@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body {*/
/*    background-color: #989c99;*/
/*}*/

a {
    text-decoration: none;
}
